* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, span, h1, h2, h3, h4, a, label, small, input, textarea, button, option, li, table {
    font-family: 'Rubik', sans-serif;
    color: $textColor;
}

#app-container {
    max-width: 2048px;
    height: 100vh;
    overflow-y: auto;

    margin: 0 auto;

    position: relative;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input::placeholder, textarea::placeholder {
    color: #999999;
}

ul, ol, dd {
    list-style: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 100px;
}