.main-content.-videos {

    .upload-video-element {

        display: flex;
        align-items: center;
        gap: 20px;

        margin-bottom: 50px;

        p {
            font-style: italic;
        }

        img {
            width: 100px;
        }
    }


    & > h2 {
        font-size: 19px;
        font-weight: 500;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr {

            height: 135px;
            border-bottom: 2px dashed #eee;

            .thumbnail-wrapper {
                width: 220px;

                input {
                    display: none;
                }
                
                img {
                    width: 183px;
                    height: 103px;
                    object-fit: cover;
    
                    border-radius: 15px;
                    cursor: pointer;

                    border: 1px solid #eee;
                }
            }   

            .inputs-wrapper {
                display: inline-flex;
                align-items: center;
                gap: 30px;

                input {
                    width: 350px;
                    height: 40px;

                    border-radius: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.2);;

                    font-size: 15px;
                    padding: 10px 20px;
                }

                .actions-icon {
                    align-items: center;
                    gap: 20px;

                    display: none;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 40px;
                        height: 40px;
                        
                        font-size: 15px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: $orangeColor;

                        cursor: pointer;

                        &:hover {
                            filter: brightness(0.96);
                        }
                    }
                }
            }

            .status {
                position: relative;

                padding-left: 20px;

                &::before {
                    content: ('');
                    position: absolute;
                    top: 50%;
                    left: -5px;

                    transform: translateY(-50%);
                    
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }

                &.-publish::before {
                    background: linear-gradient(200deg, $successColor, #00a341);
                    box-shadow: 0px 2px 3px rgba(0, 200, 80, 0.5);
                }

                &.-private::before {
                    background: linear-gradient(200deg, $dangerColor, #e73737);
                    box-shadow: 0px 2px 3px rgba(255, 68, 68, 0.5);
                }
            }

            td:nth-last-child(1) {
                text-align: right;
            }
        }
    }

    .modal-content.-editVideo {

        section {
            
            h2 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }
    
            .editing-element {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 30px;
    
                .inputs-wrapper {
                    display: flex;
                    flex-direction: column;

                    gap: 15px;
    
                    .main-input {
                        display: flex;
                        flex-direction: column;
    
                        & > div {
                            height: 100%;
                        }
    
                        textarea {
                            height: 100%;
                        }
                    }
    
                    .main-input:nth-child(2) {
                        flex: 1;
                    }
    
                    .element + .element {
                        margin-top: 20px;
                    }
                }

                .buttons-wrapper {
                    grid-column: 1/ -1;
                    
                    display: flex;
                    align-items: center;

                    gap: 15px;

                    button {
                        width: 100px;
                        height: 34px;
                    }
                }
            }
    
            .interactions-element {
                display: flex;
                gap: 30px;
    
                li {
    
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 5px;
    
                    img {
                        width: 40px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            .actions-element {

                button + button {
                    margin-left: 10px;
                }

            }

        }
        
        section + section {
            margin-top: 30px;
        }
    }

    .modal-content.-upload {
        flex: 1;
        position: relative;
        
        .upload-video-wrapper {

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            font-size: 18px;
        
            .send-video-wrapper {
        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                
                animation: floating 5s ease-in-out infinite;
                
                .labelImage img {
                    width: 100px;
                    cursor: pointer;
                }
                
                p {
                    font-family: 'Nunito';
                    font-style: italic;
                    font-weight: 300;
                }
            }
            
            .final-info-wrapper {
                width: 95%;
            
                display: grid;
                grid-template-columns: repeat(2, 1fr);
        
                align-items: center;
            
                gap: 30px;
            
                .main-input {
        
                    grid-column: 1/-1;
            
                }
        
                .select-thumbnail-element {
                    width: 220px;
                    height: 113.094px;;
        
                    #thumbnail-picture {
                        width: 100%;
                        height: 100%;

                        border-radius: 5px;
                        object-fit: cover;

                        cursor: pointer;
                    }
                }
    
                button {
                    align-self: end;
                    justify-self: end;
                }
        
                display: none;
            }
        
            .email-message-sent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                gap: 40px;
        
                img {
                    width: 125px;
                }
        
                p {
                    font-weight: 300;
                    text-align: center;
                }
        
                display: none;
            }
        
        }
    }
}