#main-chat {

    display: flex !important;

    .modal-items {
        max-height: none;
        width: 80%;

    }

    .modal-content {

        height: 100%;

    }

    #main-chat-component {

        display: flex;
        gap: 35px;
        
    }

}