#main-chat {

    .modal-items {
        width: 80%;
        min-height: 70vh;
    }

    .modal-content {
        flex: 1;
    }

    #main-chat-component {
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        gap: 35px;

        .not-found {
            font-size: 1rem;
            font-style: italic;
            user-select: none;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        }
    }

}