.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;

    &-title-wrapper {
        display: flex;

        align-items: center;
        gap: 30px;

        cursor: pointer;
        text-decoration: none;
        user-select: none;

        img {
            width: 50px;
            height: 50px;
        }

        h1 {
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 25px;
        }
    }

    &-search-wrapper {
        display: flex;

        align-items: center;
        gap: 50px;

        img {
            width: 35px;
            height: 35px;

            border-radius: 50%;

            cursor: pointer;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        }

        input[type="search"] {
            border: 1px solid #e1e1e1;

            width: 450px;
            height: 45px;
            
            padding: 0 30px;
            font-size: 15px;

            border-radius: 20px;

            outline: none;
            &::placeholder {
                color: #828282;
            }
            
            &:focus {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

// Animations

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulsing {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes erasing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}