$textColor: #313131;

$lightTextColor: #4a4a4a;

$blueColor: #007bffc3;

$successColor: #28a745;

$orangeColor: #f3705a;

$yellowColor: #ffd15c;

$standardTransition: transform 150ms cubic-bezier(.45,.97,.68,2.48);