.main-content.-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;

    .form-wrapper {
        background-color: #fff;

        width: 70%;
        padding: 40px;

        border-radius: 7px;

        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: 25px;

        h1, h3 {
            color: $orangeColor;
        }

        h1 {
            font-size: 35px;
            text-align: center;
        }
        
        p {
            text-align: center;
            font-size: 17px;
            font-weight: 300;
            color: #9a9a9a;
        }

        h3 {
            color: $orangeColor;
            font-size: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            input {
                background: #e1e1e1;
                padding: 15px 20px;
                border-radius: 10px;
                
                
                font-size: 16px;
                border: 1px solid #ddd;
                outline: none;

                color: #606060;

                &::placeholder {
                    color: #9a9a9a;
                }
            }

            input[type=password] {
                letter-spacing: 2px;
                font-weight: 600;

                &::placeholder {
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }

            .buttons-wrapper {
                display: flex;
                gap: 30px;

                button {
                    padding: 15px 30px;
                    font-size: 16px;

                    border: none;

                    border-radius: 5px;

                    cursor: pointer;
                    transition: 150ms linear;

                    &:hover {
                        transform: scale(1.03);
                    }
                }

                button:nth-child(1) {
                    background-color: $orangeColor;
                    color: #fff;
                }

                button:nth-child(2) {
                    background-color: #fff;
                    color: $orangeColor;

                    border: 1px solid $orangeColor;
                }
            }
        }

    }
}