.main-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 13px 30px;
    font-size: 15px;
    
    border: none;
    border-radius: 30px;
    
    color: #fff;

    cursor: pointer;
    transition: $standardTransition;

    i {
        color: #fff;
    }

    &:not(.cleanHover):hover {
        transform: scale(1.03);
    }

    &.cleanHover {
        transition: 200ms;

        &:hover {
            filter: brightness(1.1);
        }
    }

    justify-self: center;
    align-self: center;

}

.main-button.-blue {
    background-color: $blueColor;
}

.main-button.-orange {
    background: $orangeColor;
}

.main-button.-success {
    background: $successColor;
}

.main-button.-danger {
    background: $dangerColor;
}

.main-button.-subscriber {
    background: transparent;
    border: 1px solid $orangeColor;
    color: $orangeColor;
}